/* stylelint-disable */

@mixin burger {
  --burger-width: 44px;
  --burger-height: 44px;
  --burger-line-height: 2px;

  position: relative;
  border: solid;
  border-radius:74px;
  border-color:rgba(255, 0, 79, 1) ;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: white;
  background-color: rgba(255, 0, 79, 1);
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    border-radius:14px;
    position: absolute;
    left: 25%;
    width: 50%;
    height: var(--burger-line-height);
    background-color:white;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 65%;
  }

  &::after {
    top: calc(35% - var(--burger-line-height));
  }

  &__line {
    position: absolute;
    border-radius:14px;
    left: 25%;
    top: 50%;
    width: 50%;
    height: var(--burger-line-height);
    background-color: white;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  &--active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}
