<section class="card">
    <h2 class="card-headline">Подведомственные структуры</h2>
    <div class="card__cards-container">
        <div class="cards">
            <img src="../img/mbmos2.png" />
            <div class="cards__text">
                <p class="cards__text-headline">
                    Малый Бизнес Москвы
                </p>
                <p class="cards__text-addition">
                    Поддержка малого<br>и среднего предпринимательсва
                </p>
                <button class="cards__text-button">
                    Подробнее
                    <img src="../img/link.png" class="cards__text-button-link" />
                </button>
            </div>
        </div>
        <div class="cards">
            <img src="../img/MIK.png" />
            <div class="cards__text">
                <p class="cards__text-headline">
                    Московский инновационный кластер
                </p>
                <p class="cards__text-addition">
                    Внедрение инноваций и развитие кооперации
                </p>
                <button class="cards__text-button">
                    Подробнее
                    <img src="../img/link.png" class="cards__text-button-link" />
                </button>
            </div>
        </div>
        <div class="cards">
            <img src="../img/AIM.png" />
            <div class="cards__text">
                <p class="cards__text-headline">
                    Агенство инноваций Москвы
                </p>
                <p class="cards__text-addition">
                    Поддержка и развитие технологических компаний
                </p>
                <button class="cards__text-button">
                    Подробнее
                   <img src="../img/link.png" class="cards__text-button-link" />
                </button>
            </div>
        </div>
        <div class="cards">
            <img src="../img/MAC.png" />
            <div class="cards__text">
                <p class="cards__text-headline">
                    Московский экспортный центр
                </p>
                <p class="cards__text-addition">
                    Поддержка экспортно ориентированного бизнеса
                </p>
                <button class="cards__text-button">
                    Подробнее
                    <img src="../img/link.png" class="cards__text-button-link" />
                </button>
            </div>
        </div>
        <div class="cards">
            <img src="../img/RHK.png" />
            <div class="cards__text">
                <p class="cards__text-headline">
                    Развитие человеческого капитала
                </p>
                <p class="cards__text-addition">
                    Инфраструктура для развития команды и кадров
                </p>
                <button class="cards__text-button">
                    Подробнее
                    <img src="../img/link.png" class="cards__text-button-link" />
                </button>
            </div>
        </div>

    </div>
    <a href="#" class="card-show_link">Показать все</a>
</section>