<section class="department_container">
    <h2 class="department_container-title">Команда департамента</h2>
    <div class="team">
        <div class="team__supervisor_and_list">
            <div class="team__supervisor_and_list__supervisor">
                <img src="../img/Krystyna_Gendevna.png" class="team__supervisor_and_list__supervisor-img"
                    alt="Кострома Кристина Геннадьевна-руководитель Департамента предпринимательсва" />
                <p class="team__supervisor_and_list__supervisor-headline">
                    Кострома Кристина Геннадьевна
                </p>
                <p class="team__supervisor_and_list__supervisor-aditions">
                    Руководитеь Департамента предпринимательства и инновационного развития города Москвы
                </p>
            </div>

            <ul class="team__supervisor_and_list__list">
                <li class="team__supervisor_and_list__list-element actives">Малый и средний бизнес</li>
                <li class="team__supervisor_and_list__list-element">Инновации</li>
                <li class="team__supervisor_and_list__list-element">Продвижение</li>
                <li class="team__supervisor_and_list__list-element">Развитие команды</li>
                <li class="team__supervisor_and_list__list-element">Экспорт</li>
            </ul>

        </div>
        <div class="team__information">
            <div class="team__information__employees active">
                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Дерюгин Александр Владимирович
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Заместитель рукводителя Департамента
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/women.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Серегина Варвара Владимировна
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Начальник Управления поддержки и развития предпринимательства
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Иванов Станислав Сергеевич
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Генеральный Директор ГБУ "Малый бизнес Москвы"
                    </p>="
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Купринов Антон Эдуардович
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Исполнительбыней директор Фонда сотдейсствия кредитованию Малого Бизнеса Москвы
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Байков Сергей Николаевич
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Начальник Управления по обеспечению деятельности Штаба по защите бизнеса и Проектного офиса в
                        городе
                        Москва
                    </p>
                </div>
            </div>

            <div class="team__information__employees">
                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Дерюгин Александр Владимирович
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Заместитель рукводителя Департамента
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Иванов Станислав Сергеевич
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Генеральный Директор ГБУ "Малый бизнес Москвы"
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/women.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Серегина Варвара Владимировна
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Начальник Управления поддержки и развития предпринимательства
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Купринов Антон Эдуардович
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Исполнительбыней директор Фонда сотдейсствия кредитованию Малого Бизнеса Москвы
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Байков Сергей Николаевич
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Начальник Управления по обеспечению деятельности Штаба по защите бизнеса и Проектного офиса в
                        городе
                        Москва
                    </p>
                </div>
            </div>

            <div class="team__information__employees">
                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Дерюгин Александр Владимирович
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Заместитель рукводителя Департамента
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Иванов Станислав Сергеевич
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Генеральный Директор ГБУ "Малый бизнес Москвы"
                    </p>="
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Купринов Антон Эдуардович
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Исполнительбыней директор Фонда сотдейсствия кредитованию Малого Бизнеса Москвы
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/women.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Серегина Варвара Владимировна
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Начальник Управления поддержки и развития предпринимательства
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Байков Сергей Николаевич
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Начальник Управления по обеспечению деятельности Штаба по защите бизнеса и Проектного офиса в
                        городе
                        Москва
                    </p>
                </div>
            </div>

            <div class="team__information__employees">
                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Дерюгин Александр Владимирович
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Заместитель рукводителя Департамента
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Иванов Станислав Сергеевич
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Генеральный Директор ГБУ "Малый бизнес Москвы"
                    </p>="
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Купринов Антон Эдуардович
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Исполнительбыней директор Фонда сотдейсствия кредитованию Малого Бизнеса Москвы
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Байков Сергей Николаевич
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Начальник Управления по обеспечению деятельности Штаба по защите бизнеса и Проектного офиса в
                        городе
                        Москва
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/women.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Серегина Варвара Владимировна
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Начальник Управления поддержки и развития предпринимательства
                    </p>
                </div>

            </div>
            <div class="team__information__employees">

                <div class="team__information__employees__card">
                    <img src="../img/women.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Серегина Варвара Владимировна
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Начальник Управления поддержки и развития предпринимательства
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Дерюгин Александр Владимирович
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Заместитель рукводителя Департамента
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Иванов Станислав Сергеевич
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Генеральный Директор ГБУ "Малый бизнес Москвы"
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Купринов Антон Эдуардович
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Исполнительбыней директор Фонда сотдейсствия кредитованию Малого Бизнеса Москвы
                    </p>
                </div>

                <div class="team__information__employees__card">
                    <img src="../img/men.png" alt="" class="team__information__employees__card-img">
                    <p class="team__information__employees__card-headline">
                        Байков Сергей Николаевич
                    </p>
                    <p class="team__information__employees__card-aditions">
                        Начальник Управления по обеспечению деятельности Штаба по защите бизнеса и Проектного офиса в
                        городе
                        Москва
                    </p>
                </div>

            </div>
            <div class="team__information__project">
                <h2 class="team__information__project-headline">Проекты</h2>
                <ol class="team__information__project__list">
                    <li class="team__information__project__list-element">Онлайн-Академия</li>
                    <li class="team__information__project__list-element">Школа бизнеса МБМ</li>
                    <li class="team__information__project__list-element">Бизнес-песочница</li>
                </ol>
                <a href="#" class="team__information__project-link">Показать Больше</a>
            </div>
            <div class="team__information-devider"></div>
            <div class="team__information__connect">
                <ul class="team__information__connect__list">
                    <li class="team__information__connect__list-element">Малый бизнес Москвы</li>
                    <li class="team__information__connect__list-element">Московский гарантийный фонд</li>
                    <li class="team__information__connect__list-element">Штаб по защите бизнеса в городе Москва</li>
                </ul>
                <div class="team__information__connect__container">
                    <a class="team__information__connect__container-headline" href="#">Связаться с пресс-службой</a>
                    <a class="team__information__connect__container-link" href="#">написать нам</a>
                </div>
            </div>
        </div>

    </div>
</section>