<header class="header">

    <div class="header_logo">
        <a href="#"><img src="img/logo.png" style="cursor: pointer;" /></a>
        <button class="header_logo__button_communication">Написать нам</button>
    </div>
    <div class="header_contacts">
        <div class="header_contacts__contact">
            <a href="tel:+74951234567" class="phone-number" style="color: black;">+7(499)444-16-15</a>
           <a href="#"><img src="./img/tg.png"  style="cursor: pointer;"/></a>
            <a href="#"><img src="./img/wk.png" style="cursor: pointer;" /></a>
        </div>
        <div class="header_contacts__menu">
            <img src="./img/glaz.png" style="cursor: pointer;" />

            <button class="header_contacts__menu-burger ">
                <span class="header_contacts__menu-burger__line"></span>
            </button>

        </div>
    </div>

</header>
