<header class="header">

    <div class="header_logo">
        <img src="img/logo.png" />
        <button class="header_logo__button_communication">Написать нам</button>
    </div>
    <div class="header_contacts">
        <div class="header_contacts__contact">
            <p>+7(499)444-16-15</p>
            <img src="./img/tg.png" />
            <img src="./img/wk.png" />
        </div>
        <div class="header_contacts__menu">
            <img src="./img/glaz.png" />

            <button class="header_contacts__menu-burger ">
                <span class="header_contacts__menu-burger__line"></span>
            </button>

        </div>
    </div>

</header>
