<section class="hero">
    <div class="hero_text">
        <h1 class="hero_text-headline">
            ПРОГРАММЫ И ИНСТРУМЕНТЫ ДЛЯ РАЗВИТИЯ БИЗНЕСА
        </h1>
        <h2 class="hero_text-addition">
            от Департамента предпринимательства инновационного развития Москвы
        </h2>
    </div>
    <div class="card_container">
        <div class="card_container__card">
            <p class="card_container__card-headline">105 млрд ₽</p>
            <p class="card_container__card-addition">Направлено на поддержку</p>
        </div>
        <div class="card_container__card">
            <p class="card_container__card-headline">1 млн</p>
            <p class="card_container__card-addition">Оказанных услуг</p>
        </div>
        <div class="card_container__card">
            <p class="card_container__card-headline">250 000</p>
            <p class="card_container__card-addition">Поддержанных <br>предпринимателей</p>
        </div>
    </div>
</section>