@use "sass:math";

html {
  // --refRes можно менять в зависимости от макетов в Figma
  // можно добавлять запросы и убирать не нужные
  --refRes: 1900;
  font-size: calc(100vw / var(--refRes) * 10);

  @media (min-width: 1921px) {
    font-size: 10px;
  }

  @media (max-width: 1024px) {
    --refRes: 768;
  }

  @media (max-width: 530px) {
    --refRes: 390 !important;
  }
}
